@import "variables";
@import "mixins";

.excel__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  height: $header-height;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .input {
    color: #111111;
    font-size: 15px;

    border-radius: 3px;
    padding: 7px 10px;

    border-bottom: 2px solid transparent;

    &:focus {
      border-bottom: 2px solid $border-color;
    }
  }

}
