@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height+$toolbar-height+$formula-height;
  overflow-x: auto;

  .row {
    display: flex;
    flex-direction: row;
    height: $row-height;
  }

  .row-info {
    position: relative;

    min-width: $info-cell-width;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #f8f9fa;

    @include table-border;
  }

  .row-data {
    display: flex;
  }

  .column {
    position: relative;

    width: $cell-width;
    height: 100%;

    min-width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #f8f9fa;

    @include table-border;
  }

  .cell {
    width: $cell-width;
    min-width: 40px;
    height: 100%;

    padding: 5px;

    outline: none;

    @include table-border;

    &.selected {
      width: $cell-width;
      border: none;
      outline: 1px solid $prime-blue;
      z-index: 2;
    }

  }

  .col-resize, .row-resize {
    position: absolute;

    right: 0;
    bottom: 0;

    background-color: $prime-blue;

    opacity: 0;
    transition: opacity .15s ease;

    z-index: 1000;

    &:hover {
      opacity: 1 !important;
    }

  }

  .col-resize {
    top: 0;

    width: 4px;

    &:hover {
      cursor: col-resize;
    }

  }

  .row-resize {
    left: 0;

    height: 4px;

    &:hover {
      cursor: row-resize;
    }
  }
}